@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

img {
    max-width: 100%;
    height: auto;
}

p,
ul {
    margin: 0;
    padding: 0;
}

.v_button {
    padding: 12px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    color: #2148C0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s ease;
    cursor: pointer;
    border: 1px solid transparent;
}

.v_button:hover {
    background-color: #2148C0;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.full-page-error {
    text-align: center;
    font-size: 28px;
    color: red;
    position: absolute;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
}

/* modal-Styling */
.errorModal .modal-dialog {
    width: 30%;
}

.errorModal .modal-dialog .modal-content .modal-body {
    padding: 22px 10px;
}

.errorModal .modal-dialog .modal-content .modal-body .error_modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.errorModal .modal-dialog .modal-content .modal-body .error_modal_content .check-icon .uncheck_circle {
    font-size: 50px;
    color: red;
}

.errorModal .modal-dialog .modal-content .modal-body .error_modal_content .error_text_content {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.errorModal .modal-dialog .modal-content .modal-body .error_modal_content .error_end_btn .v_button {
    padding: 7px 30px;
    border: 1px solid transparent;
}

/* Modal-Styling-End */

.room {
    background-image: url("../assets/loginPage.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 100vh;
}

.room .join-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: auto;
    width: 25%;
}

.room .join-room input {
    font-size: 14px;
    padding: 12px;
    background-color: transparent;
    color: #ffffffab;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}

.join-room .v_button {
    margin-top: 20px;
    text-transform: uppercase;
}

.room__members {
    display: flex;
    background: #292929;
}

.host__user {
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    position: relative;
    display: flex;
    justify-content: center;
}

.host__user video {
    height: 100%;
    max-width: fit-content;
}

/* Controls on video screen */
.control {
    position: absolute;
    z-index: 9;
    width: 100%;
    bottom: 0px;
    background: linear-gradient(to top, black, transparent);
    padding: 30px 0px;
    box-sizing: border-box;
}

.control .left-control {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.control .left-control .v_button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 0;
    box-shadow: none;
    font-size: 20px;
}

.control .left-control .hang_btn {
    background-color: red;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
}

.control .left-control .screenshare_active {
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: #df9a02;
}

.member_controllers {
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 0;
    padding: 14px 0px;
    width: 100%;
    justify-content: center;
    background: linear-gradient(to top, black, transparent);
}

.member_controllers .v_button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 0;
    box-shadow: none;
    font-size: 13px;
}

.members__list {
    padding: 10px;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    width: 350px;
    background: black;
    position: relative;
    border-left: solid 1px #292929;
}

.members__list .new__members {
    margin: 0 auto !important;
    height: 200px !important;
    width: 235px !important;
    background-color: #292929 !important;
    margin-bottom: 15px !important;
    position: relative !important;
}

.myvideo_avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myvideo_avatar img {
    border-radius: 50%;
    width: 150px;
}

.waiting__user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.new__members .waiting__user {
    font-size: 16px;
    text-align: center;
}

.new__members video {
    max-width: fit-content;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.host__user .new__members {
    margin: 0;
    height: 100vh !important;
    width: 100% !important;
    /* position: relative !important; */
    display: flex;
    justify-content: center;
}

.host__user .new__members video {
    height: 100% !important;
    max-width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) rotateY(180deg) !important;
}

.new_user__avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.new_user__avatar .user__avatar {
    width: 90px;
    height: 90px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.new_user__avatar img {
    width: 100%;
}

.host__user .new_user__avatar .user__avatar {
    width: 200px;
    height: 200px;
}

.new_user__avatar .new_user__name {
    margin-top: 10px;
}

.toast-container {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    display: none;
    opacity: 0;
    animation: slideInOut 5s ease-out forwards;
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(-100%) translateY(0);
        /* Starts off-screen on the left */
    }

    20% {
        opacity: 1;
        transform: translateX(0) translateY(0);
        /* Slides in to the left-top corner */
    }

    80% {
        opacity: 1;
        transform: translateX(0) translateY(0);
        /* Stays at the left-top corner */
    }

    100% {
        opacity: 0;
        transform: translateX(-100%) translateY(0);
        /* Slides out to the right */
    }
}

.toast-active {
    display: block;
}

.member_mute_icon {
    background: #2f2f2f;
    position: absolute;
    padding: 5px 15px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.member_status_text {
    color: #fff;
    right: 10px;
    left: auto;
    top: auto;
    bottom: 10px;
    font-size: 12px;
    font-weight: 300;
    padding: 4px 8px;
    transition: all .2s linear;
}

.member_status_text:hover {
    background: #df9a02;
    color: #000;
}

.white-icon {
    color: #fff !important;
}

.host__user .member_mute_icon {
    top: 20px;
    left: auto;
    right: 20px;
    bottom: auto;
    color: #fff;
    padding: 10px 15px;
}

.host__user .member_mute_icon .icon {
    font-size: 20px;
}

.host__user .member_mute_icon .muted_text {}

.member_handraise_toast {
    position: absolute;
    z-index: 22;
    color: #fff;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #df9a02;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    top: -100px;
    /* Initially off-screen */
    opacity: 0;
    /* Initially invisible */
    animation: slideIn 1s ease forwards, stayAtTop 5s 1s forwards, slideOut 1s 6s forwards;
}

/* Animation to bring it from top to the top of the screen */
@keyframes slideIn {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 0;
        /* Position at the top of the screen */
        opacity: 1;
    }
}

/* Stay at the top for 5 seconds (this doesn't change anything visually) */
@keyframes stayAtTop {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

/* Animation to move the div back off the screen */
@keyframes slideOut {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}

.member_handraise_toast p {
    font-weight: 500;
}

.member_handraise_toast .icon {
    font-size: 25px;
}

.users-tabs {
    margin-bottom: 10px;
    border-bottom: solid 1px #292929;
    display: flex;
    justify-content: space-between;
}

.users-tabs button {
    background: #fff;
    transition: all .2s linear;
    border: none;
    color: #000;
    padding: 5px 15px;
    font-size: 14px;
    position: relative;
}

.users-tabs button:hover {
    opacity: 0.5;
}

.users-tabs button.active {
    background: #df9a02;
    color: #000;
}

.users-tabs button span {
    position: absolute;
    top: -4px;
    right: -5px;
    font-size: 12px;
    background: #df9a02;
    padding: 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.users-tabs button.active span {
    background-color: #fff;
}

.members_tabs_list {
    height: calc(100vh - 64px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

/* width */
.members_tabs_list::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.members_tabs_list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */
.members_tabs_list::-webkit-scrollbar-thumb {
    background: #d2d2d2d2;
    border-radius: 10px;
}

/* Handle on hover */
.members_tabs_list::-webkit-scrollbar-thumb:hover {
    background: #dddd;
}

.new_members_tabs_list {
    height: calc(100vh - 295px);
}

.empty__err_msg {
    color: #fff;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.mute_allbtn {
    position: fixed;
    bottom: 10px;
    left: auto;
    z-index: 11;
    transition: all .2s linear;
    border: none;
    background: #df9a02;
    color: #000;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.mute_allbtn:hover {
    background: #fff;
}

.selectedmemb_video video {
    border: solid 5px #df9a02;
}

.host__user .selectedmemb_video video {
    border: none !important;
}